

.data{
    text-align: center;

    h2{
        margin: 0 0 1rem 0;
        text-decoration: underline; white-space: nowrap;
    }

    p{
        margin: .25rem 0;
        font-weight: bold; font-size: 1.15rem; letter-spacing: 1px;
    }
}