@import '../../../styles/global.scss';

.end-of-match{
    @include center;
    display: flex; flex-flow: column; align-items: center; gap: 7px;
    font-size: 2.5rem; font-weight: bold; letter-spacing: 2px; text-shadow: 0 1px 3px black; white-space: nowrap;

    @media(max-width: $mobile){font-size: 1.75rem;}
}