

.squad-container{
    width: fit-content; min-width: 500px; min-height: 200px;
    margin: 15px auto;
    display: grid; gap: 1rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
}